#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=cn --xlayouts='cn'
# System language
lang zh_CN.UTF-8

# Network information
network  --hostname=demo
# Root password
rootpw --iscrypted $6$KEbDnisIjbyKfaSw$4TWdHiEWFHSaAzODaUDl92jCAFGzBgFJ8TS5MPRNoItcEmMstHtMbykbeleIHa8XmxEU8bbGIa0wYO3tmBG/U1
# System timezone
timezone Asia/Shanghai --isUtc
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

